<template>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Created</th>
                <th>Visible</th>
                <th>Order</th>
                <th></th>
            </tr>
            <tr v-for="c in courses">
                <td>{{ c.name }}</td>
                <td>{{ c.description }}</td>
                <td>{{ c.start_date }}</td>
                <td>{{ c.created_at }}</td>
                <td>{{ c.visible }}</td>
                <td>{{ c.order }}</td>
                <td>
                    <button @click="handleDeleteCourse(c['id'])">Delete</button>
                </td>
            </tr>
        </table>
        <form v-on:submit.prevent="handleAddCourse">
            <input type="text" v-model="newCourse.name" />
            <input type="text" v-model="newCourse.description" />
            <input type="text" v-model="newCourse.start_date" />
            <input type="text" v-model="newCourse.order" />
            <button type="submit">Add</button>
        </form>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'admin-course-manager',
    data: function() {
        return {
            courses: [],
            newCourse: {
                name: '',
                description: '',
                start_date: '',
                end_date: '',
                visible: true,
                order: 0,
            }
        }
    },
    methods: {
        handleAddCourse() {
            this.$firestoreDB.collection('courses').add(this.newCourse)
        },
        handleDeleteCourse(id) {
            this.$firestoreDB.collection('courses').doc(id).delete().then(function() {
                console.log("Document successfully deleted!");
            }).catch(function(error) {
                console.error("Error removing document: ", error);
            });
        }
    },
    mounted() {
        this.$firestoreDB.collection('courses').onSnapshot(snapShot => {
            this.courses = []
            snapShot.forEach(doc => this.courses.push(Object.assign(doc.data(), { id: doc.id })))
        })
    }
}
</script>