<template>
    <div>
        {{ user }}
        <button @click="handleLogout">Logout</button>
        <router-view>
        </router-view>
    </div>
</template>

<script>

export default {
    name: 'admin-index',
    computed: {
        user() {
            this.$firebaseApp.auth().onAuthStateChanged(function(user) {
                if (user) {
                    return user
                } else {
                    return false
                }
            });
        }
    },
    methods: {
        handleLogout() {
            this.$authService.logout()
            this.$router.push('/')
        }
    }
}
</script>