<template>
    <div>
        login
        <form v-on:submit.prevent="handleLogin">
            <input type="text" v-model="email" />
            <input type="password" v-model="password" />
            <button type="submit">Submit</button>
            <a @click="handleLoginWithGoogle">Google</a>
        </form>
    </div>
</template>
<script>
import * as firebase from 'firebase'

export default {
    name: 'login',
    data: function() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        handleLogin() {
            this.$authService.loginWithEmailAndPassword(this.email, this.password).catch(error => {
                var errorCode = error.code;
                var errorMessage = error.message;
            })
        },
        handleLoginWithGoogle() {
            let vm = this
            this.$authService.loginWithGoogle().then(r => {
                vm.$router.push({ name: 'Admin' })
            }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
            })
        }
    }
}
</script>